[submodule "dependencies/zip"]
	path = dependencies/zip
	url = https://github.com/kuba--/zip.git
[submodule "dependencies/BaconAPI"]
	path = dependencies/BaconAPI
	url = https://github.com/RealPortalPlayer/BaconAPI
